access-token = a cool token
stream-url = https://my.stream.live

motd = Thanks for joining the stream, hope you're having a good time! I try to stream every wednesday, so if youre interested feel free to join!

